/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

/*-------------------HEADER---------------------------*/

header{
    background-color: #0A1B13;
    display: flex;
    height: 50%;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.logo{
    display: flex;
    width: 60%;
    height: 80%;
    justify-content: center;
}

.logonombre{
    display: flex;
    justify-content: space-around;
}


.brand{
    color: #E5F6ED;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Noto Sans', sans-serif;
}

.carrusel{
    display: flex;
    width: 66%;
    flex-wrap: nowrap;
}

/*------------------FIN DEL HEADER---------------------*/

/*----------------NAV-----------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0A1B13;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
  }
  
  li a:hover {
    background-color: #2cb170;
  }

/*--------------FIN DEL NAV-------------------------*/

/*----------------------BODY---------------------*/
body{
    width: auto;
    height: auto;
    background-image: linear-gradient(#0A1B13,#256447, #6BC89C);
}

.tarjetas1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    
}

h2{
    font-family: 'Noto Sans', sans-serif;
    text-decoration: #0A1B13;
}

h3{
    font-family: 'Noto Sans', sans-serif;
}

p {
    font-family: 'Noto Sans', sans-serif;

}

.tarjind{
    width: 35%;
    height: auto;
    
}

.tarjind:hover{
    transform: scale(1.1);
    transition-duration: 1000ms;
}

.fondo{
    background-color: #CAECDB;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}
/*-------------FIN DEL BODY----------------------*/

/*----------------------------FOOTER-----------------*/
footer{
    background-color: brown;
}

/*---------------------FIN DEL FOOTER----------------*/